In [109]:
import pandas as pd
import numpy as np
from itertools import chain
pd.set_option('display.max_rows', 20)
nf_all = pd.read_csv("netflix_titles.csv") #reading csvfile

In [110]:
#modifying dataframe: Only movies, change duration (x min) -> (x), save to file (needed for avg(duration))
nf_movies = nf_all.loc[(nf_all['type'] == 'Movie')]
nf_movies['duration'] = nf_movies['duration'].str.replace(' min', '')
nf_movies.to_csv('enef_final.csv')

/Users/finn/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [111]:
# modifying dataframe: Get movies with cast != null, reduce columns, set title as index
nf_movies_cast = nf_movies[~nf_movies['cast'].isnull()]
nf_movies_cast_cropped = nf_movies_cast[['show_id', 'cast']]
nf_movies_cast_cropped = nf_movies_cast_cropped
nf_movies_cast_cropped_i = nf_movies_cast_cropped.set_index(['show_id'])
nf2 = nf_movies_cast_cropped_i #count is at 3905
nf2.count()

cast    3905
dtype: int64

In [112]:
nf2.stack()

show_id
81145628  cast    Alan Marriott, Andrew Toth, Brian Dobson, Cole...
80117401  cast                                     Jandino Asporaat
80125979  cast    Nesta Cooper, Kate Walsh, John Michael Higgins...
70304989  cast    Antonio Banderas, Dylan McDermott, Melanie Gri...
80164077  cast                                      Fabrizio Copano
                                        ...
80104237  cast    Alan Sabbagh, Julieta Zylberberg, Usher Barilk...
80093107  cast    Mario Casas, Luis Tosar, José Sacristán, Claud...
80085439  cast    Rene Russo, Oliver Platt, Johnny Simmons, Jane...
80011846  cast                                        Allen Iverson
80064521  cast                                         Jeremy Scott
Length: 3905, dtype: object

In [113]:
nf_movies_cast_cropped

       show_id                                               cast
0     81145628  Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1     80117401                                   Jandino Asporaat
4     80125979  Nesta Cooper, Kate Walsh, John Michael Higgins...
6     70304989  Antonio Banderas, Dylan McDermott, Melanie Gri...
7     80164077                                    Fabrizio Copano
...        ...                                                ...
5574  80104237  Alan Sabbagh, Julieta Zylberberg, Usher Barilk...
5575  80093107  Mario Casas, Luis Tosar, José Sacristán, Claud...
5578  80085439  Rene Russo, Oliver Platt, Johnny Simmons, Jane...
5579  80011846                                      Allen Iverson
5580  80064521                                       Jeremy Scott

[3905 rows x 2 columns]

In [114]:
def chainer(s):
    return list(chain.from_iterable(s.str.split(', ')))
lens = nf_movies_cast_cropped['cast'].str.split(', ').map(len)
res = pd.DataFrame({'show_id': np.repeat(nf_movies_cast_cropped['show_id'], lens),
                    'cast': chainer(nf_movies_cast_cropped['cast'])})
res

       show_id              cast
0     81145628     Alan Marriott
0     81145628       Andrew Toth
0     81145628      Brian Dobson
0     81145628       Cole Howard
0     81145628  Jennifer Cameron
...        ...               ...
5578  80085439         Ron Myles
5578  80085439  Jessica Garrison
5578  80085439  Fabianne Therese
5579  80011846     Allen Iverson
5580  80064521      Jeremy Scott

[29722 rows x 2 columns]

In [115]:
res.count() / nf2.count()

cast       7.611268
show_id         NaN
dtype: float64